:root{
    font-size: 20px;
    --headerBgColor: #213885;
    --poemBgColor: #ECDFD2;
    --titleBgColor: #213885;
    --headerTextColor: white;
    --inputBgColor: #ECDFD2;
    --navbarBgColor: #081849;
    --buttonBgColor: #5F3475;
    --buttonHoverColor: #893172;
    --linkHoverColor: #893172;
    --bodyBgColor: #CCCACC; 
}
body{
    margin: 0px;
    background-color: var(--bodyBgColor);
}
h1{
    font-size: 2rem;
    margin: 0.5rem;
}
h3{
    font-size: 1rem;
    margin: 0.25rem;
}
p{
    font-size: 1rem;
    margin: 0.75rem;
}


a {
    color: black;
    text-decoration: underline;
    text-decoration-color: black;
    transition: color 0.3s ease-in-out, text-decoration-color 0.3s ease-in-out;
}
a:hover {
    color: var(--linkHoverColor);
    text-decoration-color: transparent;
}
a small {
    text-decoration: none;
}

button{
    font-size: 0.75rem;
    background-color: var(--buttonBgColor);
    border-radius: 10px;
    border: 0px;
    color: white;
    transition: all 0.3s ease-in-out;
    padding: 5px 10px;
}
button:hover{
    background-color: var(--buttonHoverColor);
    scale: 1.15;
}

.navbar{
    padding: 10px 2.5%;
    background-color: var(--navbarBgColor);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 95%;
    display: flex;
    gap: 20px;
}

.toTopButton{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
/* Elements specific to index.html */
#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--headerBgColor);
    color: var(--headerTextColor);
    height: 25vh;
}
#header > *{
    text-align: center;
}

#title{
    background-color: var(--titleBgColor);
    color: var(--headerTextColor);
    width: 50%;
    border-radius: 20px;
    font-size: 2em;
}

#body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bodyBgColor);
    height: 70vh;
    padding-top: 5vh;
    gap: 50px;
}

#randButton{
    height: 50px;
    width: 150px;
    font-size: 1.5rem;
}

.searchContent{
    position: relative;
    width: 400px;
}

.search{
    width: 100%;
    aspect-ratio: 10/1;
    font-size: 1.5rem;
    background-color: var(--inputBgColor);
}

.autoComplete{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 10;
    background-color: var(--inputBgColor);
}
.autoComplete > * {
    overflow-wrap: break-word;
    width: 100%;
    padding: 3px 10px;
}

/* Elements specific to poem.html */
#poemContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#poemInfo{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--titleBgColor);
    color: var(--headerTextColor);
    padding: 15px;
    padding-top: 7.5%;
    width: 67%;
}
#poemInfo a{
    color: var(--headerTextColor);
    text-decoration-color: var(--headerTextColor);
}
#poemInfo a:hover{
    color: var(--linkHoverColor);
    text-decoration-color: transparent;
}

#poemLines{
    text-align: center;
    background-color: var(--poemBgColor);
    padding: 15px;
    width: 67%;
}


/* Elements specific to poet.html */
#poetHeader{
    background-color: var(--titleBgColor);
    color: var(--headerTextColor);
    width: 100%;
    padding-top: 7.5%;
    padding-bottom: 2%;
}
#poetInfo{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#poetList{
    text-align: left;
    align-items: center;
    padding: 10px;
}