<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poem Reader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css')}}">
</head>
<body>
<div id = "header">
    <div id = "title">
        <h1>Poem Search</h1>
    </div>
</div>
<div id = "body">
    <a href = "/random"><button id = "randButton">Random</button></a>
    <form action = "/poem" method = "get">
        <div class = "searchContent">
            <input class = "search" id = "poemSearch" type = "text" name = "title" placeholder="Enter title">
            <div id = "poemComplete" class = "autoComplete"></div>
        </div>
    </form>
    <form action = "/poet" method = "get">
        <div class = "searchContent">
            <input class = "search" id = "poetSearch" type = "text" name = "poet" placeholder="Enter poet">
            <div id = "poetComplete" class = "autoComplete"></div>
        </div>
    </form>
    <script src = "{{ url_for('static', filename = 'effects.js')}}"></script>

</div>
</body>
</html>