<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'index.css')}}">
</head>
<body>
<div id = "header">
    <div id = "title">
        <h1>Poem Search</h1>
    </div>
</div>
<div id = "body">
    <a href = "/random"><button>Random</button></a>
    <form action = "/poem" method = "get">
        <input type = "text" name = "title" placeholder="Enter title">
        <!--<button type = "submit">Submit</button>-->
    </form>
    <form action = "/poet" method = "get">
        <input type = "text" name = "poet" placeholder="Enter poet">
        <!--<button type = "submit">Submit</button>-->
    </form>
</div>
</body>
</html>