<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
<link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css')}}">
</head>
<body>
<div class = "navbar">
    <a href = "/"><button>Home</button></a>
    <a href = "/poet?poet={{author}}"><button>Author</button></a>
    <a href = "/random"><button>Random</button></a>
</div>
<div id = "poemContent">
    <div id = "poemInfo">
        <h1>{{ title }} </h1>
        <h3> By: <a href = "/poet?poet={{author}}"> {{ author }} </a></h3>
        <h3> {{linecount}} lines</h3>
    </div>
    <div id = "poemLines">
        {% for line in lines %}
            <p>{{line}}</p>
        {% endfor %}
    </div>
    <button class = "toTopButton"> ^ </button>
    <button id = "addFavorite">*</button>
    <script>
        const poemTitle = "{{ title }}"
        const poemAuthor = "{{ author }}"
    </script>
    <script src = "{{ url_for('static', filename = 'effects.js')}}"></script>
</div>
</body>
</html>