<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works by {{ poet }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css')}}">
</head>
<body>
<div class = "navbar">
    <a href = "/"><button>Home</button></a>
    <a href = "/random"><button>Random</button></a>
    <a href = "/favorites"><button> View Favorites</button></a>
</div>
<div id = "poetInfo">
    <div id = "poetHeader">
        <h1>{{ poet }} </h1>
    </div>
    <div id = "poetList">
        {% for title, linecount in info %}
            <p>
                <a href = "/poem?title={{title}}">
                    {{title}}</a> - {{linecount}} lines
            </p>
        {% endfor %}
    </div>
    <button class = "toTopButton"> ^ </button>
    <script src = "{{ url_for('static', filename = 'effects.js')}}"></script>

</div>
</body>
</html>