<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poem Reader</title>
<link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css')}}">
</head>
<body>
<div class = "navbar"><a href = "/"><button>Home</button></a></div>
<div id = "poetInfo">
    <h1>{{ poet }} </h1>
    <div id = "poetList">
        {% for title, linecount in info %}
            <p>
                <a href = "/poem?title={{title}}">
                    {{title}}</a> - {{linecount}} lines
            </p>
        {% endfor %}
    </div>
</div>
</body>
</html>